.inputStyle {
    color: black;
    width: 100%;
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid fade(gold, 50%);
    vertical-align: top;
    border: 1px solid green;
    height: 2rem;
}

.inputStyle:focus {
    border-bottom: 2px solid gold;
}

.labelStyle {
    color: grey;
}

.botonStyle {
    background: goldenrod;
    color: white;
    border-radius: 1px;
    border: 1px solid white;
    cursor: pointer;
    display: block;
    margin: 1rem auto;
    height: 3rem;
    width: 20%;
}
